{% extends "base.html" %}
{% block title %}Registro Nuevo Ususario{% endblock %}
{% block content %}
<h1>Registrar nuevo usuario</h1>
  <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div>
      {{ form.name.label }} {{ form.name() }} <br>
      {% for error in form.name.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.email.label }} {{ form.email() }} <br>
      {% for error in form.email.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.password.label }} {{ form.password() }} <br>
      {% for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}

    </div>

  </form>
{% endblock %}
